/* todo? all margins except right important? */

.u2-flex {
    --u2-Gap:1rem;
    --u2-Row-gap:var(--u2-Gap);
    --u2-Col-gap:var(--u2-Gap);
    display:flex;
    flex-wrap:wrap;
    column-gap: var(--u2-Col-gap);
    row-gap:    var(--u2-Row-gap);
}

.u2-flex > * { margin:0; }
.u2-flex.-Between { justify-content:space-between; }
.u2-flex.-Col { flex-direction: column; }