body {
    --color-red: oklch(70% 0.138 25);
    --color-green: oklch(70% 0.138 165);
    --color-yellow: oklch(70% 0.138 84);
    --color-blue: oklch(70% 0.138 223);

    --color-red: hsl( 0, var(--hsl-s), var(--hsl-l));
    --color-green: hsl( 130, var(--hsl-s), var(--hsl-l));
    --color-yellow: hsl( 50, var(--hsl-s), var(--hsl-l));
    --color-blue: hsl( 223, var(--hsl-s), var(--hsl-l));
}


u2-alert {
    display:block;
    padding: 1em;
    margin-block: 1em;
    border: var(--line-width,1px) solid var(--color);
}
u2-alert:not([open]) {
    display:none;
}

u2-alert[variant=success] { --color: var(--color-green); }
u2-alert[variant=warn] { --color: var(--color-yellow); }
u2-alert[variant=error] { --color: var(--color-red); }
u2-alert[variant=info] { --color: var(--color-blue); }


#u2NotificationStack {
    margin:0;
    background:transparent;
    border:0;
    overflow:auto;

    display:flex;
    flex-direction: column;
    justify-content: safe end;
    align-items: stretch;
    font-size:max(.9rem, 12px);

    position: fixed;
    inset: 0 0 0 auto;
    gap:.8em;
    max-width: 28rem;
    width: 100%;
    height:auto;
    
    overflow:auto;

    padding: 2vmin;
    z-index: 1000;
    pointer-events:none;
    & > * {
        pointer-events: initial;
        margin:0;
    }
}

/* animation *
@keyframes alert-animation {
    from {
        transform: scale(0.8);
        opacity: 0.2;
        margin-bottom:-4rem;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

u2-alert[open] {
    will-change: transform, opacity, margin;
    animation: alert-animation 0.2s ease-in;
}
/**/
