u2-alert {
    --color-red: var(--red, #dc2626);
    --color-green: var(--green, #16a34a);
    --color-yellow: var(--yellow, #f59e0b);
    --color-blue: var(--blue, #2563eb);
    display:block;
    padding: 1em;
    margin-block: 1em;
    border: var(--line-width,1px) solid var(--color);
    background-color: var(--color-bg, Canvas);
    width:100%;
    width:-moz-available;
    width:-webkit-fill-available;
    width:stretch;
}
u2-alert:not([open]) {
    display:none;
}

u2-alert[variant=success] { --color: var(--color-green); }
u2-alert[variant=warn] { --color: var(--color-yellow); }
u2-alert[variant=error] { --color: var(--color-red); }
u2-alert[variant=info] { --color: var(--color-blue); }


#u2NotificationStack {
    margin:0;
    background:transparent;
    border:0;
    overflow:auto;

    display:flex;
    flex-direction: column;
    justify-content: safe end;
    align-items: stretch;
    font-size:max(.9rem, 12px);

    position: fixed;
    inset: 0 0 0 auto;
    gap:.8em;
    max-width: 28rem;
    width: 100%;
    height:auto;
    
    overflow:auto;

    padding: 2vmin;
    z-index: 1000;
    pointer-events:none;
    & > * {
        pointer-events: initial;
        margin:0;
    }
}

/* animation *
@keyframes alert-animation {
    from {
        transform: scale(0.8);
        opacity: 0.2;
        margin-bottom:-4rem;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

u2-alert[open] {
    will-change: transform, opacity, margin;
    animation: alert-animation 0.2s ease-in;
}
/**/
