/* functional styles */
u2-menubutton {
    position:relative;
}
u2-menubutton menu {
    position:absolute;
    z-index:1;
    isolation: isolate;
    top:calc(100% + .4rem);
    right:0;
    width:max-content;
    margin:0;
    padding:.4em;
    padding-inline:0;
    opacity:0;
    visibility: hidden;
    transition: opacity .2s .1s;
    box-shadow: var(--shadow);

    /* for popover */
    overflow:visible;
}
u2-menubutton menu > * {
    display:block;
    list-style:none;
    margin:0;
    padding:0;
}
u2-menubutton menu > li > :is(button, .btn) {
    width:100%;
    margin:0;
    border:0;
    border-radius:0;
    text-align:left;
}
u2-menubutton :is(:xxxhover, :focus) + menu,
u2-menubutton menu:is(:hover, :focus-within, :popover-open) {
    opacity:1;
    visibility: visible;
}

/* minimal styled */
u2-menubutton menu {
    background:var(--color-bg, Canvas);
    border: 1px solid var(--color-text, CanvasText);
    border-radius: calc(var(--radius) + 2px);
}
u2-menubutton menu hr {
    margin:.2em 0;
}
u2-menubutton menu button:not(:focus, :hover) {
    background-color:transparent;
    color: var(--color-text, CanvasText);
}
/* */