
u2-input[type="cycle"] {
    display:inline-grid;
    width:auto;

    > label {
        all:unset;
        grid-area: 1 / 1 / 1 / 1;
        position:relative;
        opacity:0;
        display:grid;
        place-content: center;

        &:first-child {
            z-index:1;
        }

        &:has(:checked) {
            z-index:0;
            opacity:1;
            &  + label {
                z-index:2;
            }
        }

        & [type="radio"] {
            position:absolute;
            inset:0;
            appearance: textfield;
            opacity:0;
        }
    }
}

