u2-input {
    display:inline-block;
}

u2-input {
    & > button:is([slot=start],[slot=end]) {
        &:is(button) {
            padding-block:inline;
            border-radius:0;
            border:0;
            white-space:nowrap;
            align-self: stretch;
        }
    }
    input {
        color:inherit;
        background:inherit;
        direction: inherit;
        unicode-bidi: inherit;
        font:inherit;
        line-height: var(--line-height);
        letter-spacing: inherit;
        column-count: unset;
    }
}


u2-input[type="cycle"] {
    display:inline-grid;
    width:auto;
    line-height:1;

    > label {
        all:unset;
        grid-area: 1 / 1 / 1 / 1;
        position:relative;
        opacity:0;
        display:grid;
        place-content: center;
        user-select: none;
        padding:.47em;

        &:first-child {
            z-index:1;
        }

        &:has(:checked) {
            z-index:0;
            opacity:1;
            & + label {
                z-index:2;
            }
        }

        & [type="radio"] {
            position:absolute;
            inset:0;
            appearance: textfield;
            opacity:0;
        }
    }
}

u2-input[type="stepper"] {
    inline-size: 6em;
}


u2-input[type="file"] {
    html.u2DraggingFile & {
        outline: .4rem solid var(--color-light, #0cf);
        background-color:#ff6;
        outline-offset: .2rem;
    }
    &.u2DragOver.u2DragOver {
        outline: .4rem solid var(--color, #0cf);
        outline-offset: .2rem;
    }
}