@layer normalize {
    u2-input {
        display:inline-block;
        border-width:1px;
        border-style:solid;
        border-radius: var(--radius);
        padding:0 !important;
        background-color:Field;
    }
}

u2-input {
    & > button:is([slot=start],[slot=end]) {
        &:is(button) {
            padding-block:inline;
            border-radius:0;
            border:0;
            white-space:nowrap;
            align-self: stretch;
        }
    }
    input, select, textarea {
        color:inherit;
        background-color:inherit; /* not background shorthand, because it removes select-dropdown-icon */
        &:not(select) { background:inherit; }
        direction:inherit;
        unicode-bidi:inherit;
        font:inherit;
        text-align:inherit;
        line-height:var(--line-height);
        letter-spacing:inherit;
        column-count:unset;

        margin: 0 !important;
        border: 0 !important;
        outline: 0 !important;
        box-shadow:none !important;
        flex:1 1 auto;
        inline-size:auto;
        block-size:100% !important;        
    }
}

/* Type-specific styles */

u2-input[type="cycle"] {
    display:inline-grid;
    width:auto;
    line-height:1;

    > label {
        all:unset;
        grid-area: 1 / 1 / 1 / 1;
        position:relative;
        opacity:0;
        display:grid;
        place-content: center;
        user-select: none;
        padding:.47em;

        &:first-child { z-index:1; }

        &:has(:checked) {
            z-index:0;
            opacity:1;
            & + label { z-index:2; }
        }

        & [type="radio"] {
            position:absolute;
            inset:0;
            appearance: textfield;
            opacity:0;
        }
    }
}

u2-input:where([type="stepper"]) {
    inline-size: 7em;
    & input { text-align:center; }
    & input::-webkit-inner-spin-button { display: none; }
}


u2-input[type="file"] {
    html.u2DraggingFile & {
        outline: .4rem solid var(--color-light, #0cf);
        background-color:#ff6;
        outline-offset: .2rem;
    }
    &.u2DragOver.u2DragOver {
        outline: .4rem solid var(--color, #0cf);
        outline-offset: .2rem;
    }
}