.u2-card {
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    color: var(--color-text, inherit);
    text-decoration:none;
}
.u2-card > :not(img, video, hr) {
    margin: 0;
    padding: var(--gap);
}
.u2-card > hr {
    margin-block:0;
}
.u2-card > :first-child { border-top-left-radius: inherit; border-top-right-radius: inherit; }
.u2-card > :last-child { border-bottom-right-radius: inherit; border-bottom-left-radius: inherit; }
.u2-card > :last-child:not(:first-child) { margin-top:auto; }

.u2-card > .-body { flex:1 0 auto; }


/* todo if needed
:where(a.u2-card) {
    transition: box-shadow .1s;
}
:where(a.u2-card:hover) {
    xbox-shadow: var(--shadow-x) var(--shadow-y) 1.6rem -.5rem rgba(23, 23, 23, 0.35),
                var(--shadow-x) var(--shadow-y) 1.0rem -.7rem rgba(23, 23, 23, 0.2);
}
*/