.u2-badge {
    background-color:var(--color-dark, CanvasText);
    color:var(--color-bg, Canvas);

    display:inline-flex;
    border-radius:1em;
    line-height: var(--line-height);
    --line-height:1.1;
    font-weight:normal;

    min-width:  1.6em;
    min-height: 1.6em;
    padding-inline: .6em;
    padding-block: .2em .25em;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-sizing: border-box;

    /*
	box-decoration-break:clone; /* not needed for inline-flex * /
    vertical-align:middle;
    margin-bottom:-.1em;
    margin-top:-.1em;
    transform: scale(0.99999999);
    */
}

.u2-badge:empty {
    min-width:  .6em;
    min-height: .6em;
    padding:0;
    /* margin-left:-.1em; */
}