/* https://remixicon.com/ */

@font-face {
  font-family: 'RemixOutlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/npm/remixicon-ligatures@2.5.0/fonts/RemixOutlined.woff2) format('woff2');
}

html {
  --u1-ico-font: 'RemixOutlined';
}