.u2-unstyle {
    xall:unset;
    background: unset;
    color: unset;
    margin: unset;
    padding: unset;
    display: inline;
    border: unset;
    border-radius:unset;
}
.u2-unstyle:is(:hover,:focus) {
    background:unset;
}
