.u2-unstyle {
    xbackground: unset;
    background-color:unset;
    color: unset;
    margin: unset;
    padding: unset;
    display: inline;
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    text-transform: unset;
}
.u2-unstyle:is(:hover,:focus) {
    xbackground:unset;
    background-color:unset;
}
