u2-counter {
    text-align:center;
    display:inline-block;
    min-inline-size:var(--js-final-inline-size);
    font-variant: tabular-nums;
    font-feature-settings: "tnum";
    box-sizing:border-box;
}
