u1-table {
    display:block;
    overflow: auto;
}
u1-table[\:overflows][break] > table {
    display: block;
}
u1-table[\:overflows][break] > table > thead {
    display:none;
}
u1-table[\:overflows][break] > table > * { /* group */
    display: block;
}
u1-table[\:overflows][break] > table > * > * { /* row */
    display: block;
}
u1-table[\:overflows][break] > table > * > * > * { /* cell */
    display: flex;
    /* justify-content: space-between;*/
    gap: 0 1rem;
    padding: .2rem 0;
    padding-right:0;
}
u1-table[\:overflows][break] > table > * > * > *::before { /* cell */
    content: attr(aria-label);
    display: block;
    font-weight: bold;
}



/* trs in a grid *
u1-table[\:overflows][break] tbody {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 15rem));
  grid-gap: 1rem;
}
/* */


/*
left right using table

u1-table[broken] > table {
    display:table;
}
u1-table[broken] > table > * { /* group * /
    display:contents;
}
u1-table[broken] > table > * > tr {
    display:table-row-group;
}
u1-table[broken] > table > * > tr > * { /* cell * /
    display: table-row;
}
u1-table[broken] > table > * > * > ::before {
    display:table-cell;
}
*/
