u2-cookiebanner {
    position: fixed;
    inset: auto 1rem 1rem auto;
    max-width: 14rem;
    border:0;
    padding: 1.5em;
    font-size: max(14px, .8em);
    transition-duration:1s;
    text-align: left;

    & label {
        display:block;
        margin-block: .5em;
        & input {
            margin-inline-end: .5em;
        }
    }
    & button:not(.-main) {
        opacity: .7;
    }
    & .-buttons {
        margin-block-start: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        gap: .5em;
        container-type: inline-size;

        @container (max-width: 16rem) {
            button { flex-basis: 100%; }
        }

    }
}

u2-cookiebanner:not(:defined) {
    display: none;
}

u2-cookiebanner::backdrop {
    transition-duration:1s;
    background: #0001;
    opacity:0;
}