
.u1-width {
    max-width:var(--width);
    margin-left:auto;
    margin-right:auto;
    box-sizing:content-box;
    padding-left:1rem;
    padding-right:1rem;
    padding-left:calc(1rem + env(safe-area-inset-left)); /* todo: test, better: max(1rem, env(safe-area-inset-left)) */
    padding-right:calc(1rem + env(safe-area-inset-right));


    /* if used as flexbox-col-item */
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
}
/* remove padding on nested width-containers */
.u1-width .u1-width {
    padding-left:0;
    padding-right:0;
}
