.u2-card1 {
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    color: var(--color-text, inherit);
    text-decoration:none;
}
.u2-card1 > :not(img, video, hr) {
    margin: 0;
    padding: 1rem;
}
.u2-card1 > hr {
    margin-block:0;
}
.u2-card1 > :first-child { border-top-left-radius: inherit; border-top-right-radius: inherit; }
.u2-card1 > :last-child  { border-bottom-right-radius: inherit; border-bottom-left-radius: inherit; margin-top:auto; }

.u2-card1 > .-body {
    flex:1 0 auto;
}


/*
table.u2-card1 {
    --p: 1rem;
    & > * tr > :first-child { padding-left: var(--p); }
    & > * tr > :last-child { padding-right: var(--p); }
    & > :first-child > tr:first-child > * { padding-top: var(--p); }
    & > :last-child > tr:last-child > * { padding-bottom: var(--p); }
    & > * > * > * { border: 1px solid #0001; }
}
*/


/* todo if needed
:where(a.u2-card1) {
    transition: box-shadow .1s;
}
:where(a.u2-card1:hover) {
    xbox-shadow: var(--shadow-x) var(--shadow-y) 1.6rem -.5rem rgba(23, 23, 23, 0.35),
                var(--shadow-x) var(--shadow-y) 1.0rem -.7rem rgba(23, 23, 23, 0.2);
}
*/