u2-calendar {
    overflow:auto;
    max-height:90vh;
    &::part(drop-target) {
        outline: 2px dashed var(--color, #2196f3);
        z-index: 1;
    }
}
u2-calendaritem {
    &[draggable="true"] {
        cursor: move;
    }
    &:focus {
        outline: 2px dotted var(--color-text, #000);
    }
}


/* not defined */
u2-calendar:not(:defined) {
    display:block;
}
u2-calendaritem:not(:defined) {
    display:block;
    padding:.2em .9em;
    margin:.2em 0;
    color: #fff;
    
    &::after {
        content: attr(start) " - " attr(end);
        display:block;
        font-size: .8em;
    }
}

    