:is(u2-skeleton, #strong) {
    display:block;
    opacity:1 !important;
    --u2-skeleton-color: #f0f0f0;
    color: var(--u2-skeleton-color);

    --darker: color-mix(in srgb, var(--u2-skeleton-color), black 5%);
    --lighter: color-mix(in srgb, var(--u2-skeleton-color), white 20%);
    --bg: repeating-linear-gradient(45deg, var(--darker), var(--lighter), var(--darker) 50%) 0% 0% / 100px 100px repeat fixed;
    --animation: skeleton-bg 17s linear infinite;


    & span, :is(p,td,th,button,h1,h2,h3,h4,h5,h6):empty::before {
        content: "text text";
        display:inline;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        background: var(--bg);
        animation: var(--animation);

        color: transparent;
    }
    & :is(h1,h2,h3,h4,h5,h6):empty::before {
        content: "Lorem ipsum dolor sit amet";
    }
    & p:empty::before {
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in turpis auctor, lacinia nunc nec, ultricies nunc.";
    }
    & :is(th, td):empty::before {
        content: "Some text";
    }
    & button:empty::before {
        content: "Button";
        background: var(--bg);
        animation: var(--animation);
    }
    & img {
        border:0;
        width: 20em;
        aspect-ratio: 3/2;
        background: var(--bg);
        animation: var(--animation);
    }
    & button {
        background: var(--bg);
        animation: var(--animation);
        border: 0;
    }

}


@keyframes skeleton-bg {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
}