u2-buttongroup {
    display:inline-flex;
    white-space: nowrap;
    max-inline-size:100%;
    max-inline-size: -webkit-fill-available;
    max-inline-size: -moz-available;
    max-inline-size: stretch;
    
    row-gap: .2em;
    --u2-ico-dir:var(--u2-ico-dir-material);
    &:not(:defined) {
        flex-wrap:wrap;
    }
}

u2-buttongroup > :not(:last-child) {
    border-right:0;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
}
u2-buttongroup > :not(:first-child) {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    &:is(u2-menubutton) > button {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
    }
}
