u2-buttongroup {
    display:inline-flex;
    white-space: nowrap;
    max-inline-size:100%;
    max-inline-size: -webkit-fill-available;
    max-inline-size: -moz-available;
    max-inline-size: stretch;
    
    --u2-ico-dir:var(--u2-ico-dir-material);

    &:not(:defined) {
        flex-wrap:wrap;
    }

    &[gap] {
        gap: var(--line-width, 1px);
    }
    &:not([gap]) {
        & > :not(:last-child) {
            border-right-width: 0;
        }
    }
}

:is(u2-buttongroup, .S.S.S) {
    & > :not(:last-child) {
        border-end-end-radius: 0;
        border-start-end-radius: 0;
    }
    & > :not(:first-child) {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
        &:is(u2-menubutton) > button {
            border-start-start-radius: 0;
            border-end-start-radius: 0;
        }
    }
}
