/*
use aria?
No, css is representation
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Grid_Role

using grid:
https://jsfiddle.net/x90cz65o/103/
*/

.u2-table {
    /* --u2-Items-width: 11rem; */
    display:table;
    border-collapse:collapse;
    width:100%;
    /* todo?
    width:-moz-available;
    width:-webkit-fill-available;
    border-spacing: 0; /* css-tables: border-spacing in not table-elements is already 0 *
    font-variant-numeric: tabular-nums; /* in base.css but not for css-tables
    */
    --u2-Gap: 1rem;
    --u2-Col-gap: var(--u2-Gap);
    --u2-Row-gap: var(--u2-Gap);
}
.u2-table > * {
    display:table-row-group;
}
.u2-table > * > * {
    display:table-row;
}
.u2-table > * > * > * {
    display:table-cell;
    padding-inline: calc(var(--u2-Col-gap) / 2);
    padding-block: calc(var(--u2-Row-gap) / 2);
    /*
    width: var(--u2-Items-width, auto);
    flex-basis: var(--u2-Items-width, auto);
    */
}


/* .-Flex */
.u2-table.-Flex {
    display: block;
}
.u2-table.-Flex > * {
    display: block;
}
.u2-table.-Flex > * > * { /* tr */
    display:flex;
    flex-wrap:wrap; /* only fields-table? */
    align-items: baseline;
    padding-block: calc(var(--u2-Row-gap) / 2);
    padding-inline: 0;
}
.u2-table.-Flex > * > * > * { /* td */
    flex: 7 1 11em;
    min-width:0;
    padding-block: 0;
    padding-inline: calc(var(--u2-Col-gap) / 2);
    border:0 !important; /* overwrite inherit from sticky, and border makes no sense if flex */
    /* display:flex; /* new ok? better textarea-baseline / no it should not be flex, bad for content, mybe just -Fields ? */
    /* flex-direction:column; */
}
.u2-table.-Flex.-NoSideGaps > * > * { column-gap:var(--u2-Col-gap); }
.u2-table.-Flex.-NoSideGaps > * > * > * { padding:0; }


/* .-Fields */
.u2-table.-Fields input:not([type=radio], [type=checkbox], [type=date], [type=color], [type=time]),
.u2-table.-Fields textarea,
.u2-table.-Fields select {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    margin: 0;
}
.u2-table.-Fields > * > * > :first-child {
    inline-size: var(--col-1-width, 9em);
    flex-basis: var(--col-1-width, 9em);
    flex-grow:1;
}

.u2-table.-NoSideGaps > * > * > :first-child { padding-inline-start:0; }
.u2-table.-NoSideGaps > * > * > :last-child { padding-inline-end:0; }



/* .-Sticky beta! */
.u2-table.-Sticky {
    border-collapse: separate;
    /*
    Tables should be in a overflow:auto-wrapper (for mobile)
    But it make sticky not work, because it gets a new sticky container :(
    position:relative;
    z-index:0;
    xmax-height:60vh;
    xoverflow:auto;
    xdisplay:block;
    */
}
.u2-table.-Sticky > thead > * > th {
    position:sticky;
    top:0;
    background-color:var(--color-bg);
}
.u2-table.-Sticky > * > * > * { /* border-collapse:separate prevents borders on tr */
    border-bottom:inherit;
}

/*
.u2-table.-Sticky > tbody > * > th {
    max-inline-size:30%;
    inline-size:30%;
    white-space: normal;
}
*/

/*
display:grid;(block) makes chrome first-textarea-line as baseline; makes but removes this from firefox needs inline
bad hack, what if chrome implements two-values-display
.u2-table textarea {
    vertical-align: baseline;
    display: block;
    display: flex inline;
}
/**/