*, ::before, ::after {
	box-sizing: border-box;
	scroll-behavior: smooth;
	line-height:var(--line-height);/* also for: letter-spacing? */
	background-repeat: no-repeat;
}
html {
	interpolate-size: allow-keywords;
	block-size: 100%;/* 100dvh? */
	word-break:break-word;
	overflow-wrap:break-word;
	-webkit-hyphens: auto;/* safari < 17 */
	hyphens: auto;
	hyphenate-limit-chars:auto 3;/* chrome, firefox */
	tab-size: 4;
	--line-height: calc(1em + .5rem);
	-webkit-tap-highlight-color: transparent;
	font-family: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	font-size: calc(12px + .3vw);
	scrollbar-gutter: stable;
	overflow-y: auto;
}
body {
	margin:auto;
	min-block-size: 100%;
    display: flow-root;/* so that margin of children does not affect body */
	font-size:max(1rem, 16px);/* 16px => safari ios dont zoom in */
}
h1, h2, h3, h4, h5, h6 {
	margin-block:1em;
}
h1, h2, h3, h4, h5, h6, figcaption, blockquote, legend, caption { /* th? */
	text-wrap: balance;
}
p, li {
	text-wrap: pretty;
}
hr {
	border-style:solid;
	border-width:0 0 1px 0;
	border-top-width:0 !important;
}
video, audio, video, iframe {
	width: 100%;/* max-width:-moz-available / -webkit-fill-available; incompatibility causes problems. todo: inline-size? */ 
}
iframe {
    display:block;
}
img, svg, canvas {
	max-width: 100%;
}
img, svg, video, canvas {
	object-fit:cover;
	height: auto;
}
video { background-color:#aaa; }
script, style {
	white-space: pre;
	font-family: monospace;
	margin-block: 1rem;
	overflow:auto;
}
/* table */
table {
	border-collapse: collapse;
	border-spacing: 0;/* if not collapsed, border-spacing defaults to 0 */
	font-variant-numeric: tabular-nums;
}
th {
	text-align: inherit;
	text-align: -webkit-match-parent;/* inherit not working in safari */
}
/* nav */
nav a { text-decoration:none; }/* display:block? color:inherit? */
nav li { list-style: none; }
nav ul { padding-inline-start:1.5em; }
nav > ul { padding-inline-start:0; }

/* clickable */
select, summary, label, button:not(:disabled), input:where([type=checkbox], [type=radio], [type=file]), ::file-selector-button, .btn {
	cursor:pointer;
}

[inert], :disabled { opacity:.4; }

/* form */
input, textarea, select, button, ::file-selector-button, .btn {
	padding:.2em;
	border:1px solid rgba(0,0,0,.5);
	font: inherit;
	/*
	try to match immutable select-line-height
	in chrome:1.22, in ff:1.17 (best fit line-height:1.19?)
	"normal" does not work in chrome unless not -webkit-appearance: none;
	*/
	line-height:var(--line-height);/* needed as font:inherit does inherit line-height */
	--line-height:normal;
}
button, ::file-selector-button, .btn {
	padding-inline:.7em;
}
select { background-color:Field; }
textarea {
	vertical-align: baseline;
	vertical-align: -webkit-baseline-middle;
}
textarea { resize: vertical; }
/* textarea:not(:hover) { resize:none; } some browsers may stop resizing if mouse resize is none */

input, textarea { inline-size:13rem; }
input:where([type=radio], [type=checkbox], [type=file], [type=date], [type=time], [type=datetime-local], [type=color]) { inline-size:revert; }  /* todo: incomplete? */
input:where([type=range]) { vertical-align:middle }


/* animatable dialog and popover */
dialog, [popover] {
    &, &::backdrop {
        transition-behavior: allow-discrete;
        opacity: 0;
    }
}
dialog:is(:modal,[open]), :popover-open {
    &, &::backdrop {
        opacity: 1;/*  @starting-style { opacity: 0; } why does this not work? */
    }
}
@starting-style {
    dialog:is(:modal,[open]), :popover-open {
        &, &::backdrop { opacity: 0; }
    }
}

:where([popover]) {/* ok? una: https://x.com/Una/status/1917662266427859202 */
    inset: auto;
}