:where(*, ::before, ::after) {
	background-size: contain; /* or cover? */
	background-position: 50% 50%;
	border-style:solid; /* default to solid but 0px */
	border-width:0;
}
[type=number] { text-align: end; }
legend {
	padding-left: .3em;
	padding-right: .3em;
}
tbody, thead, tfoot {
	vertical-align: inherit;
}

select, summary, label, button:not(:disabled), [type=checkbox], [type=radio], [type=file], .btn, ::file-selector-button {
	touch-action: manipulation;
}
button, ::file-selector-button, .btn {
	user-select: none;
}
.btn {
	inline-size: fit-content;
	text-decoration: none;
}



/* what could go wrong? *
*, ::after, ::before,  ::backdrop {
    transition-behavior: allow-discrete;
}
working example (https://jsfiddle.net/befn3wvc/64/)
/* */











/*
body {
	background-image: var(--report-to);
}
*/
