/* Currently, we cannot animate "hide" as after hidePopover() it might not be top-layer, potentially disrupting layouts. */
u2-tooltip {
    /* relevant */
    opacity: 0;
    visibility:hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 9999;
    transition-property:opacity, visibility;

    /* hide transition */
    transition-duration:400ms;
    /* transition-delay: 10ms; */

    /* customisable */
    pointer-events: none;
    padding: .5em 1em;
    max-width:16rem;

    /* style */
    font-size:max(12px, .7rem);
    --line-height: 1.4em;
    border-radius:.5em;
    background: var(--color-text, CanvasText);
    color: var(--color-bg, Canvas);
    border:1px solid var(--color-text, CanvasText);
    box-shadow: var(--shadow);


    /* popover */
    margin: 0;
    overflow: visible;
    /* display: block; bad, as it is not top-layer */
    /* */
}

u2-tooltip[tabindex="-1"] {
    pointer-events:auto;
}

u2-tooltip:is(:focus-within, :hover, [open]) { /* :popover-open will not animate */
    /* show transition */
    transition-duration:250ms;
    transition-delay: 160ms;
    visibility:visible;
    opacity: 1;
}


/* css only fallback */
u2-tooltip:not(:defined):not([id]) {
    :hover > &,
    :focus > & {
        left:auto;
        top:auto;
        margin: 2rem 0;
        visibility:visible;
        opacity: 1;
    }
}
/* */


/* arrow: */
u2-tooltip {
    &::before {
        --size:.7em;
        --halfMinus:calc(var(--size) * -.5);
        content: "";
        position:absolute;
        transform:rotate(45deg);
        width:var(--size);
        height:var(--size);
        background-color: inherit;
        margin:auto;
        z-index:-1;
        border:inherit;
    }
    &[\:position-x="after"]::before { left:var(--halfMinus); }
    &[\:position-x="before"]::before { right:var(--halfMinus); }
    &[\:position-x="center"]::before { right:0; left:0; }
    &[\:position-y="after"]::before { top:var(--halfMinus); }
    &[\:position-y="before"]::before { bottom:var(--halfMinus); }
    &[\:position-y="center"]::before { top:0; bottom:0; }
    &::after {
        content:'';
        background:inherit;
        position:absolute;
        inset:0;
        z-index:-1;
        border-radius:inherit;
    }
    &:not(:defined)::before {
        left: 0;
        right: 0;
        top: var(--halfMinus);
    }
}
/* */