/* Currently, we cannot animate "hide" as after hidePopover() it might not be top-layer, potentially disrupting layouts. */
u2-tooltip {
    /* relevant */
    opacity: 0;
    visibility:hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 9999;
    transition-property:opacity, visibility;

    /* hide transition */
    transition-duration:400ms;
    transition-delay: 10ms;

    /* customisable */
    pointer-events: none;
    padding: .4em .7em;
    max-width:14rem;
    background: Canvas;
    color: CanvasText;

    /* style */
    font-size:max(12px, .7rem);
    --line-height: 1.4em;
    border-radius:.8em;
    background: var(--color-text, CanvasText);
    color: var(--color-bg, Canvas);
    border:1px solid var(--color-text, CanvasText);


    /* popover */
    margin: 0;
    overflow: visible;
    /* display: block; bad, as it is not top-layer */
    /* */
}

u2-tooltip[tabindex="-1"] {
    pointer-events:auto;
}

u2-tooltip:is(:focus-within, :hover, [open]) { /* :popover-open will not animate */
    /* show transition */
    transition-duration:250ms;
    transition-delay: 160ms;
    visibility:visible;
    opacity: 1;
}


/* css only fallback */
u2-tooltip:not(:defined):not([id]) {
    :hover > &,
    :focus > & {
        left:auto;
        top:auto;
        margin: 2rem 0;
        visibility:visible;
        opacity: 1;
    }
}
/* */


/* arrow:
u2-tooltip::after {
    --size:1em;
    content: "";
    position:absolute;
    transform:rotate(45deg);
    width:var(--size);
    height:var(--size);
    background-color: inherit;
    margin:auto;
    z-index:-1;
}
u2-tooltip[\:position-x="after"]::after {
    left:calc( var(--size) * -.5);
}
u2-tooltip[\:position-x="before"]::after {
    right:calc( var(--size) * -.5);
}
u2-tooltip[\:position-x="center"]::after {
    right:0;
    left:0;
}
u2-tooltip[\:position-y="after"]::after {
    top:calc( var(--size) * -.5);
}
u2-tooltip[\:position-y="before"]::after {
    bottom:calc( var(--size) * -.5);
}
u2-tooltip[\:position-y="center"]::after {
    top:0;
    bottom:0;
}
*/