u2-masonry {
    --u2-Items-width: 10rem;
    --u2-Gap: 1rem;
    --u2-Col-gap: var(--u2-Gap);
    --u2-Row-gap: var(--u2-Gap);
    display: grid;
    column-gap: var(--u2-Col-gap);
    row-gap:    var(--u2-Row-gap);
    position: relative !important; /* items are placed absolute */
}

u2-masonry > * {
    position:relative !important;
    margin:0 !important;
    box-sizing:border-box !important;
}

u2-masonry.-Js > * {
	position: absolute !important;
}

u2-masonry:not(:defined) {
    /* grid-template-columns: repeat(auto-fill, minmax( var(--u2-Items-width), 1fr) ); /* min() not supported everywhere? */
    grid-template-columns: repeat(auto-fill, minmax( min(var(--u2-Items-width), 100%) , 1fr) );
    /* grid-auto-flow:dense; /* why */
	grid-template-rows: masonry; /* native css only fallback (firefox, safari?) */
}
