u2-rte {
    display: block;
    position: relative;
    border: 1px solid var(--color-line, color-mix(in srgb, currentColor, transparent 75%));

    & > textarea {
        display: block;
        inline-size: 100%;
    }

    &[data-ready] > textarea {
        position: absolute;
        inline-size: 1px;
        block-size: 1px;
        margin: 0 !important;
        padding: 0;
        border: 0;
        overflow: hidden;
        clip-path: inset(50%);
    }

    & > [data-u2-rte-editor] {
        min-block-size: 6em;
        padding: .5em;
        outline: 0;
        --u2-rte: true;

        &:empty::before {
            content: attr(data-placeholder);
            color: color-mix(in srgb, currentColor, transparent 45%);
            pointer-events: none;
        }
    }
}
