
:where(u2-rating:not(:defined)) {
    display:inline-block;
    &::before {
        content: '★' attr(value, '?') '/' attr(max, '5');
    }
}
:where(u2-rating) {
    color:#ea1;
    vertical-align: -.1em;
}