body {
    --border: var(--line-width) solid var(--color-line);

    max-width:var(--width);
    padding:1rem;

    display: grid; /* center content. Margins will not collapse :/ */

    grid-template-areas: 
        "header"
        "content"
        "footer";

    place-content: start stretch;
}

body:has(> aside) {
    display: grid;

    grid-template-columns: minmax(15rem, 25%) 1fr;

    gap: 1rem;
    align-items: start;

    grid-template-columns: 15rem minmax(1rem, 1fr) minmax(20rem, var(--width)) minmax(1rem, 1fr);
    grid-template-areas: 
        "header header header header"
        "nav . content ."
        "footer footer footer footer";
    gap: 0;
    max-width:none;


    & > aside {
        xgrid-column:3;
        grid-area:nav;
        position:sticky;
        width:auto;
        margin:0;
        top:1rem;

        nav {
            
        }
    }
    & > * {
        xgrid-area:content;
        grid-column:3;
    }

}


body > * {
    min-width:0; /* gap makes min-width = content-width, in some cases it will overflow */
}

body > footer,
body > header {
    padding-block: 2rem;
}
body > header { grid-area: header; }
body > footer { grid-column:1 / -1 }

:is(body > header, [role="banner"]) {
    border-block-end: var(--border);

    & nav {
        white-space: nowrap;
        > ul {
            display: flex;
            gap: 1em;
        }
        li { position: relative; }
        a { display:block; }
        ul ul a {
            padding-inline: 1rem;
            padding-block: .5rem;
        }
        li > ul {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: .2s;
            padding:0;
            background-color: var(--color-light);
        }
        ul ul ul {
            left: 100%;
            top: 0;
        }
        li:is(:hover,:focus-within) > ul {
            opacity: 1;
            visibility: visible;
        }    
    }
}

:is(body > footer, [role="contentinfo"]) {
    border-block-start: var(--border);
    text-align:center;
}

section {
    padding-block: 2rem;

    /* grid layout */
    &[role="group"] {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: 1rem;

        & > :is(h1,h2,h3,h4) {
            grid-column: 1 / -1; /* gesamte Breite */
        }
        & > :not(:is(h1,h2,h3,h4)) {
            margin:0;
        }
    }

}


table {
    font-size: max(.85rem, 14px);
}
tr:not(:last-child) {
    border-style:solid; /* new: not on td/th any problems? */
    border-color:var(--color-line);
    border-block-width: 0 var(--line-width);
    border-inline-width: 0;
}

label {
    display:block;
    margin-block:.3rem;
}
/* old :where(input, u2-input):not([type="checkbox"], [type="radio"]), textarea, select, button, .btn {
    margin-block:.3rem;
} */
button, .btn {
    margin-block:.3rem;
}

/* better?
label {
    display:block;
    margin-block:.3rem;
}
button, .btn {
    margin-block:.3rem;
}
*/

blockquote {
    margin: 1.5rem 0;
    padding: .5rem;
    
    padding-inline-start: 1rem;
    border-inline-start: var(--line-width) solid var(--color);

    background-color: var(--color-light);
    font-size: .85em;
    & > footer {
        font-style:italic;
    }
}

pre {
    background-color: var(--color-light);
    padding: 1rem;
    overflow-x: auto;
    border-radius: var(--radius);
    font-size: .8em;
}
code {
    font-size: .9em;
    padding-inline: .3em;
    padding-block: .1em;
    background-color: var(--color-light);
    white-space: pre-wrap;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: var(--line-height);
    --line-height: 1;
}

/* figure */
figure {
    padding:0;
    margin-block: 1rem;
    margin-inline: auto;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    overflow:auto;
}
figure > img {
    border-radius: var(--radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
figcaption {
    opacity: .7;
    font-size: .9rem;
    font-style: italic;
    text-align: center;
}
p, dd, li {
    max-inline-size: 80ch;
}

article, dialog {
    border: var(--border);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    flex-direction: column;
    padding:0;

    

    & > * {
        padding: 0 1rem;
        margin:0;
    }    
    & > :first-child { padding-top:1rem; border-start-start-radius: inherit; border-start-end-radius: inherit; }
    & > :last-child { padding-bottom:1rem; border-end-start-radius: inherit; border-end-end-radius: inherit; }    

    & header, & footer {
        padding:1rem;
    }
    & header { margin-bottom:1rem; }
    & footer {
        margin-top:auto;
        font-size: 0.9rem;
    }
}
dialog:modal {
    display:flex;
}

article {
    display:flex;
    margin-block:1.5em;
    background-color: var(--color-light);
}


aside {
    margin-block: 1.5em;
    padding: 1em;
    border: var(--border);
    border-radius: var(--radius);
    font-size:.8rem;
    background-color: var(--color-light);

    float: right;
    width: max(15rem, 25%);
    max-width:100%;
    margin-left: 1em;
}

aside[popover] {
    position:fixed;
    inset: 0 0 0 auto;
    width:fit-content;
    height:auto;
    margin:0;
    border:0;
    padding: 2rem;
    border-radius:0;
    box-shadow: var(--shadow);
    background-color: var(--color-bg);
    transition-duration: .3s;
    transition-property:transform, opacity, display, overlay;

    transform:translateX(0);
    &:not(:popover-open) {
       transform:translateX(100%);
    }
    @starting-style {
        transform:translateX(100%);
    }
    &::backdrop {
        background-color:#0002;
    }
}


dialog {
    box-shadow: var(--shadow);
    border:var(--border);
    border-radius: var(--radius);
    transition: .2s ease-out;
}
dialog[open]:not(:modal) {
    position:static;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}


/*
sticky footer plugin
main {
  background-color:var(--color-bg);
}
[role=contentinfo] {
  position:sticky;
  z-index:-1;
  bottom:0;
  left:0;
  right:0;
}
*/