body {
    max-width:var(--width);
    padding:1rem;

    display: grid; /* center content. Margins will not collapse :/ */
    place-content: start stretch;
}
body > * {
    min-width:0; /* gap makes min-width = content-width, in some cases it will overflow */
}

section,
body > footer,
body > header {
    padding-block: 2rem;
}


:is(body > header, [role="banner"]) {
    border-block-end: .1em solid var(--color);

    & nav {
        white-space: nowrap;
        > ul {
            display: flex;
            gap: 1em;
        }
        li { position: relative; }
        a { display:block; }
        ul ul a {
            padding-inline: 1rem;
            padding-block: .5rem;
        }
        li > ul {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: .2s;
            padding:0;
            background-color: var(--color-light);
        }
        ul ul ul {
            left: 100%;
            top: 0;
        }
        li:is(:hover,:focus-within) > ul {
            opacity: 1;
            visibility: visible;
        }    
    }
}

:is(body > footer, [role="contentinfo"]) {
    border-block-start: .1em solid var(--color);
    text-align:center;
}


table {
    font-size: max(.85rem, 14px);
}
tr:not(:last-child) {
    border-style:solid; /* new: not on td/th any problems? */
    border-color:var(--color-line);
    border-block-width: 0 var(--line-width);
    border-inline-width: 0;
}

label {
    display:block;
}

:is(input, textarea, select, button, .btn, u2-input):not([type="checkbox"], [type="radio"]) {
    margin-block:.3rem;
}

blockquote {
    margin: 0;
    padding: .5rem;
    
    padding-inline-start: 1rem;
    border-inline-start: .3rem solid var(--color);

    background-color: var(--color-light);
    font-size: .85em;
}

pre {
    background-color: var(--color-light);
    padding: 1rem;
    overflow-x: auto;
    border-radius: var(--radius);
    font-size: .8em;
}
code {
    font-size: .9em;
    padding-inline: .3em;
    padding-block: .1em;
    background-color: var(--color-light);
    white-space: pre-wrap;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: var(--line-height);
    --line-height: 1;
}

/* figure */
figure {
    padding:0;
    margin-block: 1rem;
    margin-inline: auto;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    overflow:auto;
}
figure > img {
    border-radius: var(--radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
figcaption {
    opacity: .7;
    font-size: .9rem;
    font-style: italic;
    text-align: center;
}
p, dd, li {
    max-inline-size: 80ch;
}
