body {
    --border: var(--line-width) solid var(--color-line);

    max-width:var(--width);
    padding:var(--gap);

    display: grid; /* center content. Margins will not collapse :/ */

    grid-template-areas: 
        "header"
        "content"
        "footer";

    place-content: start stretch;
}

body:has(> aside) {
    display: grid;

    grid-template-columns: minmax(15rem, 25%) 1fr;

    gap: var(--gap);
    align-items: start;

    grid-template-columns: 15rem minmax(var(--gap), 1fr) minmax(20rem, var(--width)) minmax(var(--gap), 1fr);
    grid-template-areas: 
        "header header header header"
        "nav . content ."
        "footer footer footer footer";
    gap: 0;
    max-width:none;


    & > aside {
        grid-area:nav;
        position:sticky;
        width:auto;
        margin:0;
        top:var(--gap);
    }
    & > * {
        grid-column:3;
    }

}


body > * {
    min-width:0; /* gap makes min-width = content-width, in some cases it will overflow */
}

body > footer,
body > header {
    padding-block: var(--gap);
}
body > header { grid-area: header; margin-bottom: var(--gap); }
body > footer { grid-column:1 / -1 }

:is(body > header, [role="banner"]) {
    border-block-end: var(--border);

    & nav {
        white-space: nowrap;
        > ul {
            display: flex;
            gap: var(--gap);
        }
        li { position: relative; }
        a { display:block; }
        ul ul a {
            padding-inline: var(--gap);
            padding-block: calc(var(--gap) / 2);
        }
        li > ul {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: .2s;
            padding:0;
            background-color: var(--color-light);
        }
        ul ul ul {
            left: 100%;
            top: 0;
        }
        li:is(:hover,:focus-within) > ul {
            opacity: 1;
            visibility: visible;
        }    
    }
}

:is(body > footer, [role="contentinfo"]) {
    border-block-start: var(--border);
    text-align:center;
}

section {
    padding-block: 2rem;

    /* grid layout */
    &[role="group"] {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: var(--gap);

        & > :is(h1,h2,h3,h4) {
            grid-column: 1 / -1; /* gesamte Breite */
        }
        & > :not(:is(h1,h2,h3,h4)) {
            margin:0;
        }
    }

}


table, article, blockquote, dialog, figure, pre, aside {
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding: var(--gap);
    background-color: var(--color-light);
}


table {
    font-size: max(.85rem, 14px);
    background-color: var(--color-bg);
    overflow:hidden;
}
thead, tfoot {
    background-color: var(--color-dark);
    color: var(--color-bg); 
}
tbody > tr {
    border-style:solid; /* new: not on td/th any problems? */
    border-color: color-mix(in srgb, var(--color-line), transparent 80%);
    border-block-width: 0 var(--line-width);
    border-inline-width: 0;
    &:hover {
        background-color: var(--color-lighter);
    }
}

label {
    display:block;
    margin-block:.3rem;
}
input, textarea, select {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
}
button, .btn {
    margin-block:.3rem;
}

blockquote {
    margin: var(--gap) 0;
    padding: var(--gap);
    
    padding-inline-start: var(--gap);
    border-inline-start: var(--line-width) solid var(--color);

    font-size: .85em;
    & > footer {
        font-style:italic;
    }
}

pre {
    overflow-x: auto;
    font-size: .8em;
}
code {
    font-size: .9em;
    padding-inline: .3em;
    padding-block: .1em;
    background-color: var(--color-light);
    white-space: pre-wrap;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: var(--line-height);
    --line-height: 1;
}

/* figure */
figure {
    padding:0;
    margin-block: var(--gap);
    margin-inline: auto;
    overflow:auto;
}
figure > img {
    border-radius: var(--radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
figcaption {
    opacity: .7;
    font-size: .9rem;
    font-style: italic;
    text-align: center;
}
p, dd, li {
    max-inline-size: 80ch;
}

article, dialog {
    flex-direction: column;
    padding:0;

    & > * {
        padding: 0 var(--gap);
        margin:0;
    }    
    & > :first-child { padding-top:var(--gap); border-start-start-radius: inherit; border-start-end-radius: inherit; }
    & > :last-child { padding-bottom:var(--gap); border-end-start-radius: inherit; border-end-end-radius: inherit; }    

    & header, & footer {
        padding:var(--gap);
    }
    & header { margin-bottom:var(--gap); }
    & footer {
        margin-top:auto;
        font-size: 0.9rem;
    }
}
dialog:modal {
    display:flex;
}

article {
    display:flex;
    margin-block:var(--gap);
    background-color: var(--color-light);
}


aside {
    margin-block: var(--gap);
    font-size:.8rem;

    float: right;
    width: max(15rem, 25%);
    max-width:100%;
    margin-left: var(--gap)
}

aside[popover] {
    position:fixed;
    inset: 0 0 0 auto;
    width:fit-content;
    height:auto;
    margin:0;
    border:0;
    padding: 2rem;
    border-radius:0;
    box-shadow: var(--shadow);
    background-color: var(--color-bg);
    transition-duration: .3s;
    transition-property:transform, opacity, display, overlay;

    transform:translateX(0);
    &:not(:popover-open) {
       transform:translateX(100%);
    }
    @starting-style {
        transform:translateX(100%);
    }
    &::backdrop {
        background-color:#0002;
    }
}


dialog {
    transition: .2s ease-out;
    background: var(--color-bg);
    border:0;
}
dialog[open]:not(:modal) {
    position:static;
}


dl {
  display: grid;
  grid-template-columns: minmax(auto, max-content) auto;
  gap: calc(var(--gap) / 2);
}
dt {
  font-weight: 600;
  text-align: right;
}
dd {
  margin: 0;
  grid-column: 2;
}



/*
sticky footer plugin
main {
  background-color:var(--color-bg);
}
[role=contentinfo] {
  position:sticky;
  z-index:-1;
  inset: auto 0 0 0;
}
*/